* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  color: white;

}
body {
  background: url("../img/seaToPlate.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 75%;
  margin: 0px;
  padding: 0px;
}

ul {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  list-style: none;
}

li {
  margin: 0 20px;
  color: white;
}

#content {
  width: 100vw;
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 40px;
} 

/* .dinnerMenu {
  margin: 55px;
  background-color: red;
} */

.menuItems {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 25px;
}

.headingTitle {
  font-size: 60px;
  font-weight: bold;
}

.menuItem {
  display: flex;
  flex-direction: column;
}

.itemName {
  font-size: 40px;
  font-weight: bold;
}

.itemDescription {
  font-size: 20px;
  font-style: italic;
}

.itemPrice {
  font-size: 30px;
  font-weight: bold;
}

